/* Estilos globais da aplicação */

/* min-height ao invés de height para não travar o scroll quando o conteúdo for maior que a tela */
html {
  min-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}
